<header class="header">
  <h2>CONSULTA POR DATA DE ASPIRANTADO</h2>
</header>

<div class="cons">
 <div>Data de aspirantado</div><br><br>

 <label for="data">Inicio</label>
    <input
      type="date"
      class="input"
      id="data"
    >

    <label for="data">Fim</label>
    <input
      type="date"
      class="input"
      id="data"
    >

    <div class="botao">
      <button class="botao1"></button>
      <p>CONSULTAR</p>
    </div>

    <div class="botao">
      <button routerLink="/consulta" class="botao1"></button>
      <p>VOLTAR</p>
    </div>
</div>
