
<section class="container login">
  <header class="header">
      <h2>LOGIN</h2>
  </header>
   <form>
     <label for="nome">Nome</label>
      <input
        type="textarea"
        class="input"
        placeholder="Digite o nome"
      >

     <label for="senha">Senha</label>
      <input
       type="text"
       class="input"
       placeholder="Digite a senha"
      >
        <div class="acoes">
          <button class="botao">Login</button>
          <button class="botao">Cancelar</button>
        </div>
  </form>


</section>
