header {
  text-align: center;
  }

  .placa{
    text-align: center;
  }

  .placa input {
    margin-left: 20px;
    margin-right: 20px;
  }

  .botao .botao1{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    width: 30px;
    height: 30px;
  }

  .botao {
    text-align: center;
  }
