
<!-- footer -->

<footer>
  <div class="footer-content">
    <p>Amigos desde sempre Cumpadres para a eternidade</p>
    <div class="logo-imagem"></div>
    <img class="my-logo" src="/assets/resources/images/C.E.E.C 32.13.3.jpeg" >

   <!-- <img
  src="/assets/resouces/images/C.E.E.C 32.13.3.jpeg"
  id="logo-footer"
  class="img-responsive"
  height="120em"
  />-->
  </div>
</footer>










<!--<footer class="page-footer amber accent-4">
  <div class="container">
  <div class="row">
  <div class="col s12 center">
  <img
  src="/assets/resouces/images/logo.png"
  id="logo-footer"
  class="img-responsive"
  height="120em"
  />
  </div>
  </div>
  </div>
  <div class="footer-copyright">
  <div class="container my-font">
  &copy;  Amigos desde sempre Cumpadres para a eternidade
  </div>
  </div>
  </footer>
-->
